.header{
	position: relative;
	width: 100%;
	background-image: url(../../images/puppy2.jpg);
	

}

h1{
	text-align: center;
	font-size: 90px;
	font-weight: bold;
	padding: 90px 0 20px 0; 
	color:navy;
	text-shadow: 2px 2px white;
}

h2{
	text-align: center;
	font-size: 25px;
	padding-bottom: 40px;
	color: white;
	text-shadow: 2px 2px black;
}


